/* Color Theme Swatches in Hex */
$color-primary-darker: #004d41;
$color-primary-lighter: #00ab95;
$color-primary: #007066;
$color-secondary-darker: #bd960b;
$color-secondary: #e5b50a;

$color-white: #ffffff;
$color-gray: #171717;
$color-gray-light: #565656;

$color-gray-10: #f4f4f4;
$color-gray-20: #e0e0e0;
$color-gray-70: #525252;
$color-gray-90: #262626;
$color-gray-100: #161616;

$color-blue-60: #0f62fe;
$color-blue-70: #0043ce;
