@import 'reset';
@import 'colors';
@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: $base-font-weight;
  color: $text-01;
}

a.link {
  color: $color-secondary;
  text-decoration: underline $color-primary double;
  text-underline-offset: 4px;
  transition: color 1s;

  &:hover {
    color: $color-secondary-darker;
    text-decoration: none;
  }
}
