@import '../../styles/index.scss';

.table {
  &__container {
    overflow-x: auto;
    padding: $baseline-12;

    @media screen and (max-width: 768px) {
      padding: $baseline-8;
    }
  }
  table {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    text-align: center;
  }

  td {
    text-align: left;
    padding: $baseline-16;
    font-size: $baseline-12;
    border-bottom: 1px solid $color-gray-20;
    vertical-align: middle;
    white-space: nowrap;

    &:first-child {
      padding-left: 0;
    }

    &.empty-state {
      padding: $baseline-24;
      font-size: $baseline-16;
    }

    .page-item {
      background-color: $color-white;
      display: inline-flex;
      color: $color-gray-70;
      border: 1px solid $color-gray-20;
      border-radius: $baseline-4;
      margin-left: $baseline-4;
      margin-bottom: $baseline-4;

      &:focus {
        border: 1px solid $color-gray-70;
      }
    }

    .page-link {
      cursor: pointer;
      padding: $baseline-8;
    }
  }

  tr:hover {
    background-color: $color-accent-20;
    cursor: pointer;

    .empty-state {
      cursor: not-allowed;
      background-color: $color-white;
    }
  }

  th {
    text-align: left;
    font-size: $baseline-12;
    padding: $baseline-24 $baseline-16;
    vertical-align: bottom;

    &:first-child {
      width: 50%;
    }
    &:last-child {
      width: 30%;
    }

    @media screen and (max-width: 768px) {
      &:first-child {
        width: 40%;
      }
    }
  }

  thead {
    background-color: $color-gray-10;
    font-weight: $header-font-weight;

    tr:hover {
      background-color: $color-gray-10;
      cursor: auto;
    }
  }

  tfoot {
    background-color: $color-accent-20;
    font-size: $baseline-8;

    td {
      text-align: right;
      border: none;
    }

    tr:hover {
      background-color: $color-accent-20;
      cursor: auto;
    }
  }
}
